header
  nav.navbar.navbar-light.navbar-expand-lg
    a.navbar-brand(href="/")
      img(src="images/kubectf.svg", width="30", height="30", alt="KubeCTF")
      label KubeCTF
    div.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link.header-font(href="/") home
        li.nav-item
          a.nav-link.header-font(href="#") about
        li.nav-item
          a.nav-link.header-font(href="#") login
    button.btn.btn-light
      a.header-font(href="/register") Register